<!-- <div id="viewport"> -->
  <!-- Sidebar -->
  

 
  
<!-- </div> -->


<div class="wrapper">
  <div class="section">
    <ng-container *ngIf="sesion$ | async as sesion">
      <div *ngIf="sesion.active">
        <div class="top_navbar">
          <div class="hamburger" (click)="toogleClass()" >
            <a onclick="">
             <fa-icon  [icon]="faBars"></fa-icon>
            </a>
          </div>
          <h3>{{$titulo | async}}</h3>
         </div>
      </div>
    </ng-container>


<div class="containercust">
  <router-outlet></router-outlet>
 
</div>
</div>
 
  <app-sidebar></app-sidebar>
 



</div>

 