<div id="sidebar">
    <header>
      <a href="#">Curso Angular</a>
    </header>
    <ul class="nav">
      <li>
        <a routerLink="">
            <i class="bi bi-map-fill"></i>Inicio
        </a>
      </li>    
      <!-- <li>
        <a routerLink="alumnos">
            <i class="bi bi-map-fill"></i>Cursos
        </a>
      </li> -->
      <li>
        <a routerLink="alumnos/listado">
          <i class="bi bi-map-fill"></i>Alumnos
        </a>
        <ul>          
          <li>
            <a routerLink="alumnos/agregar">
              <i class="bi bi-map-fill"></i>Agregar
          </a>
          </li>
        </ul>
      
      </li>       
      <!-- <li>
        <a href="#">
            <i class="bi bi-2-square-fill"></i> Opcion 2
        </a>
      </li> -->
     
    </ul>
  </div>

 