<div id="content">
  <app-toolbar></app-toolbar>
</div>
<div class="container-fluid">
  <!-- <h1>Simple Sidebar</h1> -->
  <div class="col-lg-12">
    
        <div class="col-lg-4 card">
          <img src="https://media-cdn.tripadvisor.com/media/photo-w/1b/9f/50/1d/wonderful-sunny-mallorca.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Mallorca, Islas Baleares</h5>
            <p class="card-text">Esta soñada isla ha inspirado a artistas como 
              Chopin y Miró, y en la actualidad es un importante 
              destino turístico para las vacaciones de primavera.
               Igualmente, no te preocupes, si estás vacacionando 
               durante las vacaciones de primavera de la escuela primaria<a href="#">...Ver más</a>
              </p>
            
          </div>
      </div>
       
      <div class="col-lg-4 card">
          <img src="https://media-cdn.tripadvisor.com/media/photo-s/01/ef/16/33/egyptian-history-museum.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">El Cairo, Egipto</h5>
            <p class="card-text">El Cairo es una ciudad antigua en la que 
              se respira al mismo tiempo el ambiente de una moderna metrópoli. 
              Es una de las más grandes urbes de Medio Oriente y prueba de ello son
               el ruido y su tráfico. No obstante, siempre que no estés 
               buscando soledad, El Cairo<a href="#">...Ver más</a></p> 
          </div>
      </div>

      <div class="col-lg-4 card">
        <img src="https://media-cdn.tripadvisor.com/media/photo-s/01/19/b9/97/la-spiaggia-di-antony.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Rodas, Dodecanese</h5>
          <p class="card-text">ELa mayor y más popular de las doce islas del Dodecaneso, en 
            el extremo oriental del mar Egeo. La ciudad medieval, muy bien conservada, se encuentra
             en la parte norte de la isla. 
            En las costas norte y este predominan las torres de los hoteles; en el resto de la.<a href="#">...Ver más</a></p> 
        </div>
    </div>


    <div class="col-lg-4 card">
      <img src="https://media-cdn.tripadvisor.com/media/photo-s/21/66/68/f6/caption.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Tulum, México</h5>
        <p class="card-text">Las ruinas mayas se elevan por encima del mar en Tulum, 
          dándote un vistazo de la historia mientras tomas sol. La antigua ciudad amurallada fue una de 
          las últimas en ser construida por los mayas,
           y sus sitios arqueológicos están increíblemente bien conservados<a href="#">...Ver más</a></p> 
      </div>
  </div>


  <div class="col-lg-4 card">
    <img src="https://media-cdn.tripadvisor.com/media/photo-s/17/78/85/b6/dubrovnik-enjoys-one.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Dubrovnik, Croacia</h5>
      <p class="card-text">Dubrovnik se ha recuperado de los daños sufridos durante
         la guerra de 1990, y los visitantes han regresado a esta apacible ciudad. 
         Enclavada entre el mar Adriático y los Alpes Dináricos, 
        es una escapada muy accesible y asequible para muchos visitantes<a href="#">...Ver más</a></p> 
    </div>
</div>


<div class="col-lg-4 card">
  <img src="https://media-cdn.tripadvisor.com/media/photo-o/16/df/45/3c/luxury-villas-to-rent.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Ibiza, Islas Baleares</h5>
    <p class="card-text">Ibiza: en español antiguo significa “festeja hasta que no puedas más”. 
      Tal vez no sea literalmente, pero sin dudas es uno de los lugares de vida nocturna preferidos de Europa.
       Ibiza ofrece más de 160 km de costa con aproximadamente 50 playas y muchos<a href="#">...Ver más</a></p> 
  </div>
</div>

 
   
  </div>
</div>