<div class="sidebar">
  <div class="profile">
      <img  src="https://lh3.googleusercontent.com/-6nX1WyusudU/AAAAAAAAAAI/AAAAAAAAHRE/T6rycb5i8TA/photo.jpg?sz=256" alt="profile_picture">
      <h3>Edu7</h3>
      <p>Admin</p>
  </div>
  <ul>
      <li>
        <!-- active -->
          <a href="#" class="">
            <span class="icon"><fa-icon  [icon]="faHome"></fa-icon></span> 
              <span class="item">Inicio</span>
          </a>
      </li>
      <li>
          <a href="#" class="" routerLink="alumnos/listado">
            <span class="icon"><fa-icon  [icon]="faGraduationCap"></fa-icon></span> 
              <span class="item">Alumnos</span>
          </a>
      </li>
      <li>
        <a href="#" class="" routerLink="cursos/listado">
          <span class="icon"><fa-icon  [icon]="faBook" ></fa-icon></span> 
            <span class="item">Cursos</span>
        </a>
    </li>
    <li>
      <a href="#" class="">
        <span class="icon"><fa-icon  [icon]="faAddressCard"></fa-icon></span> 
          <span class="item">Inscripciones</span>
      </a>
  </li>
  <li>
    <a href="#" class="" routerLink="cursos/listado">
      <span class="icon"><fa-icon  [icon]="faUsers" ></fa-icon></span> 
        <span class="item">Usuarios</span>
    </a>
</li>
  </ul>
</div>

 