<ng-container *ngIf="sesion$ | async as sesion">
  <div *ngIf="sesion.active">
    <div class="sidebar">
      <div class="profile">
          <img  src="https://1001freedownloads.s3.amazonaws.com/vector/thumb/141693/acspike_male_user_icon.png" alt="profile_picture">
          <h3>{{sesion.user?.user}}</h3>
          <!-- <p>{{sesion.user.}}}</p> -->
      </div>
      <ul>
          <li>
            <!-- active -->
              <a href="#" class="">
                <span class="icon"><fa-icon  [icon]="faHome"></fa-icon></span> 
                  <span class="item">Inicio</span>
              </a>
          </li>
          <li>
              <a href="#" class="" routerLink="alumnos/listado">
                <span class="icon"><fa-icon  [icon]="faGraduationCap"></fa-icon></span> 
                  <span class="item">Alumnos</span>
              </a>
          </li>
          <li>
            <a href="#" class="" routerLink="cursos/listado">
              <span class="icon"><fa-icon  [icon]="faBook" ></fa-icon></span> 
                <span class="item">Cursos</span>
            </a>
        </li>
        <li>
          <a href="#" class="" routerLink="inscripciones/listado">
            <span class="icon"><fa-icon  [icon]="faAddressCard"></fa-icon></span> 
              <span class="item">Inscripciones</span>
          </a>
      </li>
       
      </ul>
    </div>
  </div>

  
   
</ng-container>

